doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Wiki Tab
    link(rel="stylesheet" href="/css/style.css" media="screen, print")
  body
    main.contents
    script(src="js/jquery-2.1.4.min.js")
    script(src="js/script.js")
