// ==========================================================================
//   index
// ==========================================================================

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    overflow: hidden;
}

iframe{
    @include absolute(0, 0, 0, 0);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: none;
}
